.img0{
    width: 1.7em;
    height: 1.7em;
    background-image: url("../img/back.png");
 }
 .img1{
     width: 1.7em;
     height: 1.7em;
     background-image: url("../img/dir.png");
  }
  .img2{
  	width: 1.7em;
  	height: 1.7em;
  	background-image: url("../img/file.png");
  }