.img0{
    width:3.125em;
    height:3.125em;
    background-image: url("../images/bg.png");
    background-repeat: repeat;
    background-size: 3.125em auto;
 } 
.img2{
    width:9.6em;
    height:2.8em;
    background-image: url("../images/img2.png");
 }
 .img3{
    width:2.0em;
    height:2.0em;
    background-image: url("../images/img3.png");
 }
 .img4{
    width:2.0em;
    height:2.0em;
    background-image: url("../images/img4.png");
 }
.img5{
    width:2.0em;
    height:2.0em;
    background-image: url("../images/img5.png");
 }
.img6{
    width:2.0em;
    height:2.0em;
    background-image: url("../images/img6.png");
 }  
  .img7{
    width:2.0em;
    height:2.0em;
    background-image: url("../images/img7.png");
 }   
 .img8{
    width:2.0em;
    height:2.0em;
    background-image: url("../images/img8.png");
 }  
  .img9{
    width:2.0em;
    height:2.0em;
    background-image: url("../images/img9.png");
 }   
 .img10{
    width:2.0em;
    height:2.0em;
    background-image: url("../images/img10.png");
 }  
.img11{
    width:1.25em;
    height:1.25em;
    background-image: url("../images/img11.png")
}
.img12{
    width:0.87em;
    height:0.87em;
    background-image: url("../images/img12.png")
}
.img13{
    width:0.87em;
    height:0.87em;
    background-image: url("../images/img13.png")
}
.img14{
    width:1.25em;
    height:1.25em;
    background-image: url("../images/img14.png")
}
.img15{
    width:1.84em;
    height:1em;
    background-image: url("../images/img15.png")
}
.img16{
    width:1.93em;
    height:1.16em;
    background-image: url("../images/img16.png")
}
.img17{
    width:1.34em;
    height:1.34em;
    background-image: url("../images/img17.png")
}
.img18{
    width:1.59em;
    height:1.31em;
    background-image: url("../images/img18.png")
}
.img19{
    width:1.66em;
    height:1.66em;
    background-image: url("../images/img19.png")
}
.img20{
    width:1.44em;
    height:1.22em;
    background-image: url("../images/img20.png")
}
.img21{
    width:2.68em;
    height:2.44em;
    background-image: url("../images/img21.png");
 }  
.img22{
    width:0.94em;
    height:0.94em;
    background-image: url("../images/img22.png");
 } 
.img23{
    width:1.15em;
    height:1.15em;
    background-image: url("../images/img23.png");
 } 
.img24{
    width:1.15em;
    height:1.15em;
    background-image: url("../images/img24.png");
 } 
.img25{
    width:1.03em;
    height:0.68em;
    background-image: url("../images/img25.png");
 } 
.img28{
    width:0.5em;
    height:0.78em;
    background-image: url("../images/img28.png")
}
.img29{
    width:0.5em;
    height:0.78em;
    background-image: url("../images/img29.png")
}
.img30{
    width:1.16em;
    height:0.88em;
    background-image: url("../images/img30.png")
}
.img31{
    width:1.16em;
    height:0.88em;
    background-image: url("../images/img31.png")
}
.img32{
    width:1.16em;
    height:0.88em;
    background-image: url("../images/img32.png")
}
.img33{
    width:1.16em;
    height:0.88em;
    background-image: url("../images/img33.png")
}
.img34{
    width:1.16em;
    height:0.88em;
    background-image: url("../images/img34.png")
}
.img35{
    width:0.9em;
    height:0.96em;
    background-image: url("../images/img35.png")
}
.img36{
    width:1em;
    height:1em;
    background-image: url("../images/img36.png")
}
.img37{
    width:0.56em;
    height:0.87em;
    background-image: url("../images/img37.png")
}
.img38{
    width:1em;
    height:1em;
    background-image: url("../images/img38.png")
}
.img39{
    width:0.9em;
    height:0.9em;
    background-image: url("../images/img39.png")
}
.img40{
    width:1.625em;
    height:1.406em;
    background-image: url("../images/img40.png")
}
.img41{
    width:0.937em;
    height:1.031em;
    background-image: url("../images/img41.png")
}
.img42{
    width:0.937em;
    height:1.031em;
    background-image: url("../images/img42.png")
}
.img43{
    width:1.8em;
    height:1.6em;
    background-image: url("../images/img43.png")
}
.img44{
    width:2.0em;
    height:2.0em;
    background-image: url("../images/img44.png")
}
.img45{
    width:2.0em;
    height:2.0em;
    background-image: url("../images/img45.png")
}
.img46{
      width:1em;
    height:0.75em;
    background-image: url("../images/img46.png")
}
.img47{
     width:1em;
    height:0.75em;
    background-image: url("../images/img47.png")
}
.img48{
     width:1em;
    height:0.75em;
    background-image: url("../images/img48.png")
}
.img49{
    width:1em;
    height:0.75em;
    background-image: url("../images/img49.png")
}
.img50{
    width:0.78em;
    height:0.5em;
    background-image: url("../images/img50.png")
}
.img51{
    width:1.56em;
    height:1.4em;
    background-image: url("../images/img51.png")
}
.img52{
    width:1.68em;
    height:1.53em;
    background-image: url("../images/img52.png")
}
.img53{
    width:1.31em;
    height:1.68em;
    background-image: url("../images/img53.png")
}
.img54{
    width:2.0em;
    height:2.0em;
    background-image: url("../images/img54.png");
}
.img55{
    width:2.0em;
    height:2.0em;
    background-image: url("../images/img55.png");
}
.img56{
    width:2.0em;
    height:2.0em;
    background-image: url("../images/img56.png");
}
.img57{
    width:2.0em;
    height:2.0em;
    background-image: url("../images/img57.png");
}
.img58{
    width:2.0em;
    height:2.0em;
    background-image: url("../images/img58.png");
}
.img59{
    width:2.0em;
    height:2.0em;
    background-image: url("../images/img59.png");
}
.img60{
  	width:1.56em;
    height:1.56em;
    background-image: url("../images/img60.png")
}
.img61{
    width:1.56em;
    height:1.56em;
    background-image: url("../images/img61.png")
}
.img62{
    width:1.56em;
    height:1.56em;
    background-image: url("../images/img62.png")
}
.img63{
    width:1.56em;
    height:1.56em;
    background-image: url("../images/img63.png")
}
.img64{
    background-image: url("../images/img64.png")
}
.img65{
    width:1.03em;
    height:1.25em;
    background-image: url("../images/img65.png")
}
.img66{
    width:1.03em;
    height:1.25em;
    background-image: url("../images/img66.png")
}
.img67{
    width:6.97em;
    height:6.97em;
    background-image: url("../images/img67.png")
}
.img68{
    width:3.22em;
    height:3.22em;
    background-image: url("../images/img68.png")
}
.img69{
    width:0.9em;
    height:0.8em;
    background-image: url("../images/img69.png")
}
.img70{
    width:0.9em;
    height:0.8em;
    background-image: url("../images/img70.png")
}
.img71{
	width:3.5em;
	height:3.5em;
	background-image: url("../images/img71.png")
}
.img72{
    width:1.62em;
    height:1.61em;
    background-image: url("../images/img72.png")
}
.img73{
    width:1.62em;
    height:1.61em;
    background-image: url("../images/img73.png")
}
.img74{
    width:1.62em;
    height:1.61em;
    background-image: url("../images/img74.png")
}
.img75{
    width:1.1em;
    height:1.15em;
    background-image: url("../images/img75.png")
}
.img76{
	background-image: url("../images/img76.png")
}